<h1>Reservas Disponibles</h1>

<% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>

<!-- Formulario para filtrar por rango de fechas -->
<div class="mb-4">
  <%= form_with url: citas_disponibles_path, method: :get, local: true, class: "form-inline" do |f| %>
    <div class="form-group mr-2">
      <%= f.label :fecha_inicio, "Desde:", class: "mr-2" %>
      <%= f.date_field :fecha_inicio, value: params[:fecha_inicio], class: "form-control" %>
    </div>
    <div class="form-group mr-2">
      <%= f.label :fecha_fin, "Hasta:", class: "mr-2" %>
      <%= f.date_field :fecha_fin, value: params[:fecha_fin], class: "form-control" %>
    </div>
    <%= f.submit "Filtrar", class: "btn btn-primary" %>
  <% end %>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <% if @citas_disponibles.present? %>
      <% @citas_disponibles.each do |cita| %>
        <tr>
          <td><%= cita.fecha_hora.strftime("%d/%m/%Y %H:%M") %></td>
          <td>
            <% if cita.estado == 'disponible' %>
              <%= button_to 'Reservar', new_citas_disponible_reserva_path(citas_disponible_id: cita.id), method: :get, class: 'btn btn-primary' %>
            <% else %>
              Reservada
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No hay reservas disponibles en este momento.</td>
      </tr>
    <% end %>
  </tbody>
</table>
